.settingDropdown {
  position: fixed;
  width: 500px;
  height: 100vh;
  right: -500px;
  top: 9vh;
  background-color: var(--background-dark);
  opacity: 1;
  border-radius: 10px;
  overflow: hidden;
  padding: 0px;
  transform: translateX(-500px);
  border: 3px solid var(--main-secondary);
  transition: transform 0.4s ease-in-out;
  padding-bottom: 20vh;
  z-index: 5;
}

.settingDropdown-previous {
  z-index: 5;

  position: fixed;
  width: 500px;
  height: 100vh;
  right: -500px;
  top: 9vh;
  background-color: var(--background-dark);
  opacity: 1;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
}
.settingDropdown-top {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-left: 20px;
}
.settingDropdown-close {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: auto;
}

.settingDropdown-close:hover {
  background-color: var(--main-secondary);
}

.settingDropdown-close-icon {
  color: white;
  font-size: 30px;
}

.settingDropdown-main {
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

.settingDropdown-main-section {
  height: 10vh;
  cursor: pointer;
  display: flex;
  width: 100%;
  gap: 10px;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  border-top: 1px solid var(--main-secondary);
}

.settingDropdown-main-section:hover {
  background-color: var(--background-black);
}

.settingDropdown-main::-webkit-scrollbar {
  width: 6px;
  height: 20px;
}

.settingDropdown-main::-webkit-scrollbar-track {
  background-color: var(--background-black);
}

.settingDropdown-main::-webkit-scrollbar-thumb {
  background-color: var(--main-secondary);
  border-radius: 3px;
  cursor: grab;
}

.settingDropdown-main::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-secondary);
}

@media (max-width: 1024px) {
  .settingDropdown {
    top: 6.5vh;
  }
}

@media (max-width: 788px) {
  .settingDropdown {
    width: 100%;
  }
}
