.showRecipeMaterial {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: left;
}

.showRecipeMaterial h2 {
  margin-inline: 0;
}
.showRecipeMaterial h4 {
  margin-top: 20px;
  margin-bottom: 6px;
  margin-inline: 0;
}
