.selectStyle {
  background-color: var(--background-dark);
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.selectStyle-list {
  height: 68vh;
  overflow-y: scroll;
  z-index: 0;
}
.selectStyle-sideBar-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  display: block;
}
.selectStyle-list::-webkit-scrollbar {
  width: 10px;
}
.selectStyle li {
  text-align: left;
  margin-inline: 22px;
}
.selectStyle ul {
  padding: 20px;
  padding-inline: 0px;
}
.selectStyle-list-proceed {
  width: 100%;
  position: sticky;
  bottom: 0;
  height: 12vh;
  padding-inline: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-dark);
  margin-inline: auto;
  box-sizing: border-box;
}
.selectStyle-list-proceed-button {
  height: 6vh;
  text-align: center;
  font-weight: 700;
  background-color: var(--main-secondary);
  border-radius: 4px;
  overflow: hidden;
  padding: 10px;
  cursor: pointer;
}
.selectStyle-list-proceed-button:hover {
  box-shadow: 0 0 10px var(--main-secondary);
}

.selectStyle-list::-webkit-scrollbar-track {
  background-color: var(--background-black);
}

.selectStyle-list::-webkit-scrollbar-thumb {
  background-color: var(--main-secondary);
  border-radius: 5px;
  cursor: grab;
}

.selectStyle-list::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-secondary);
}

@media (max-width: 1024px) {
  .selectStyle {
    background-color: var(--background-dark);
    width: 100%;
    min-height: 100vh;
  }
  .selectStyle-list {
    min-height: 80vh;
    overflow: hidden;
  }
  .selectStyle-list-proceed {
    width: 100%;
  }
  .selectStyle-sideBar-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    display: none;
  }
}
@media (max-width: 778px) {
  .selectStyle-list-proceed {
    width: 100%;
    padding: 10px;
    padding-bottom: 12px;
    font-size: 14px;
    height: 10vh;
  }
  .selectStyle-list-proceed-button {
    height: 5.8vh;
  }
  .selectStyle-list-element {
    font-size: 14px;
  }
  .selectStyle-list-element h4 {
    font-size: 16px;
  }
  .selectStyle-list-element-description li {
    font-size: 14px;
  }
  .selectStyle {
    background-color: var(--background-dark);
    width: 100%;
    height: fit-content;
  }
}
