.common-element-container-inside-malt {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 4px;

  padding-block: 10px;
  padding-inline: 10px;
  padding-inline: 4.2vh;
}
.creator-of-product {
  text-align: right;
  flex-grow: 1;
  opacity: 0.6;
}
.common-element-container-inside-malt .visible-trash {
  display: none;
}
.common-element-container-inside-malt .visible-icon {
  display: flex;
}
.common-element-container-inside-malt:hover {
  background-color: var(--background-black);
}
.common-element-container-inside-malt:hover .visible-trash {
  display: flex;
}
.common-element-container-inside-malt:hover .visible-icon {
  display: none;
}
.common-element-container-inside-malt-description-section {
  display: flex;
  gap: 10px;
  font-size: 14px;
}
.common-element-container-inside-malt .icon {
  font-size: 25px;
}
#common-element-container-inside-malt-purple {
  background-color: var(--main-secondary);
}

@media (max-width: 778px) {
  .common-element-container-inside-malt {
    gap: 8px;
    padding-inline: 2.2vh;
  }
  .common-element-container-inside-malt .icon {
    font-size: 20px;
  }
  .common-element-container-inside-malt-description-section {
    display: flex;
    gap: 8px;
    font-size: 12px;
  }
}
