.brewProcessCommonTitle-main {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  gap: 30px;
  position: relative;
}

.brewProcessCommonTitle-image {
  width: 18vh;
  height: 18vh;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.brewProcessCommonTitle-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.brewProcessCommonTitle-title-name {
  text-align: left;
  padding: 4px;
  margin-top: 3px;
}
.brewProcessCommonTitle-image-modify {
  position: absolute;
  top: 20px;
  left: 15vh;
  color: var(--main-secondary);
  font-size: 50px;
  z-index: 2;
  cursor: pointer;
}
.brewProcessCommonTitle-title-input {
  width: 160px;
  overflow: hidden;
  border-radius: 5px;
  padding: 4px;
  background-color: var(--background-black);
  margin-bottom: 3px;
}
.brewProcessCommonTitle-title input {
  outline: none;
  border: none;
  overflow: hidden;
  background-color: transparent;
  color: white;
  height: 100%;
  width: 100%;
}
.brewProcessCommonTitle .file-uploader {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 11;
}

.brewProcessCommonTitle .file-uploader .input {
  border-radius: 4px;
  overflow: hidden;
  padding: 5px;
  border: none;
  background-color: var(--main-secondary);
  cursor: pointer;
  color: white;
}

.brewProcessCommonTitle .file-uploader-modal {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
  background-color: var(--background-dark);
  border-radius: 10px;
  overflow: hidden;
  height: 40vh;
  box-shadow: 0px 0px 10px var(--main-secondary);
}
.waterSouceData-close {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: auto;
}
.waterSouceData-close:hover {
  background-color: var(--main-secondary);
}
.waterSouceData-close-icon {
  color: white;
  font-size: 30px;
}

@media (max-width: 768px) {
  .brewProcessCommonTitle-image {
    width: 12vh;
    height: 12vh;
  }
  .brewProcessCommonTitle-image-modify {
    position: absolute;
    top: 50px;
    left: 12vh;
    color: var(--main-secondary);
    font-size: 30px;
    z-index: 2;
    cursor: pointer;
  }
  .brewProcessCommonTitle-title-input {
    width: 140px;
    overflow: hidden;
    border-radius: 3px;
    padding: 2px;
    background-color: var(--background-black);
    margin-bottom: 3px;
  }
}
