.brewProcessCommonTitle-main {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  gap: 30px;
  position: relative;
}

.brewProcessCommonTitle-image {
  width: 18vh;
  height: 18vh;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.brewProcessCommonTitle-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.brewProcessCommonTitle-title-name {
  text-align: left;
  padding: 4px;
  margin-top: 3px;
}
.brewProcessCommonTitle-image-modify {
  position: absolute;
  top: 20px;
  left: 15vh;
  color: var(--main-secondary);
  font-size: 50px;
  z-index: 2;
  cursor: pointer;
}
.brewProcessCommonTitle-title-input {
  width: 160px;
  overflow: hidden;
  border-radius: 5px;
  padding: 4px;
  background-color: var(--background-black);
  margin-bottom: 3px;
}
.brewProcessCommonTitle-title input {
  outline: none;
  border: none;
  overflow: hidden;
  background-color: transparent;
  color: white;
  height: 100%;
  width: 100%;
}
.brewProcessCommonTitle .file-uploader {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 11;
}

.brewProcessCommonTitle .file-uploader .input {
  border-radius: 4px;
  overflow: hidden;
  padding: 5px;
  border: none;
  background-color: var(--main-secondary);
  cursor: pointer;
  color: white;
}

.brewProcessCommonTitle .file-uploader-modal {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
  background-color: var(--background-dark);
  border-radius: 10px;
  overflow: hidden;
  height: 40vh;
  box-shadow: 0px 0px 10px var(--main-secondary);
}
.waterSouceData-close {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: auto;
}
.waterSouceData-close:hover {
  background-color: var(--main-secondary);
}
.waterSouceData-close-icon {
  color: white;
  font-size: 30px;
}
.brewProcessCommonTitle .loading-spinner {
  margin-inline: auto;
  margin-top: 30px;
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.brewProcessCommonTitle .loading-spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid var(--main-secondary);
  border-radius: 50%;
  animation: loading-spinner-animation 1.2s cubic-bezier(0.5, 0, 0.5, 1)
    infinite;
  border-color: var(--main-secondary) transparent transparent transparent;
}
.brewProcessCommonTitle .loading-spinner div:nth-child(1) {
  animation-delay: -0.45s;
}
.brewProcessCommonTitle .loading-spinner div:nth-child(2) {
  animation-delay: -0.3s;
}
.brewProcessCommonTitle .loading-spinner div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loading-spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner div::after {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  border-radius: 50%;
  background-color: #fff;
  filter: blur(0);
  opacity: 1;
  animation: loading-spinner-inner-animation 1.2s cubic-bezier(0.5, 0, 0.5, 1)
    infinite;
}
.brewProcessCommonTitle .loading-spinner div:nth-child(1)::after {
  animation-delay: -1.1s;
}
.brewProcessCommonTitle .loading-spinner div:nth-child(2)::after {
  animation-delay: -0.9s;
}
.brewProcessCommonTitle .loading-spinner div:nth-child(3)::after {
  animation-delay: -0.7s;
}
.brewProcessCommonTitle .loading-spinner div:nth-child(4)::after {
  animation-delay: -0.5s;
}
.brewProcessCommonTitle .loading-spinner div:nth-child(5)::after {
  animation-delay: -0.3s;
}
.brewProcessCommonTitle .loading-spinner div:nth-child(6)::after {
  animation-delay: -0.1s;
}
@media (min-width: 1024px) {
  .brewProcessCommonTitle-main {
    padding-left: 5.4vh;
  }
}
@media (max-width: 768px) {
  .brewProcessCommonTitle-image {
    width: 12vh;
    height: 12vh;
  }
  .brewProcessCommonTitle-image-modify {
    position: absolute;
    top: 50px;
    left: 12vh;
    color: var(--main-secondary);
    font-size: 30px;
    z-index: 2;
    cursor: pointer;
  }
  .brewProcessCommonTitle-title-input {
    width: 140px;
    overflow: hidden;
    border-radius: 3px;
    padding: 2px;
    background-color: var(--background-black);
    margin-bottom: 3px;
  }
}
