.beer-logo {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.beer-logo img {
  width: 240%;
  object-fit: cover;
  margin-top: -15px;
  margin-left: -20px;
}

@media (max-width: 1024px) {
  .beer-logo {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .beer-logo img {
    width: 200%;
    object-fit: cover;
    margin-top: -10px;
    margin-left: -10px;
  }
}
