.water {
  background-color: var(--background-dark);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.selectStyle-sideBar-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  display: block;
}
.water-list {
  height: 68vh;
  overflow-y: scroll;
  position: relative;
  z-index: 1;
}
.water-title {
  position: relative;
  z-index: 2;
  padding-bottom: 1.2vh;
}

.water-list-element {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  padding: 2vh;
  padding-inline: 4vh;
  background-color: var(--background-dark);
  border-top: 1px solid var(--main-secondary);
}
.water-list-element:hover {
  background-color: var(--background-black);
}

.water-list-element .icon {
  font-size: 50px;
}
.water-list-element-tile {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: left;
  gap: 6px;
}
.water-list-element-tile div {
  text-align: left;
}
.water-list-element-tile h5 {
  margin: 0;
  padding: 0;
}

.water-list::-webkit-scrollbar {
  width: 10px;
}

.water-list::-webkit-scrollbar-track {
  background-color: var(--background-black);
}

.water-list::-webkit-scrollbar-thumb {
  background-color: var(--main-secondary);
  border-radius: 5px;
  cursor: grab;
}

.water-list::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-secondary);
}

@media (min-width: 1024px) {
  .water-bottom-bar-invisible-when-big-display {
    display: block;
    position: sticky;
    bottom: 0;
    z-index: 8;
  }

  .water-bottom-bar-visible-when-big-display {
    display: none;
  }
  .water-title.invisible-in-small-screen {
    display: block;
  }
  .water-title.invisible-in-big-screen {
    display: none;
  }
}
@media (max-width: 1024px) {
  .selectStyle-sideBar-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    display: none;
  }
  .common-selection-bigger-container-search-bar.visible-in-small-screen h2 {
    margin-inline: auto;
  }
  .water-bottom-bar-invisible-when-big-display {
    display: none;
  }
  .water-bottom-bar-visible-when-big-display {
    position: sticky;
    bottom: 0;
    z-index: 4;
  }

  .water {
    height: fit-content;
  }
  .water-list {
    height: fit-content;
    min-height: 70vh;
    padding-bottom: 8vh;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  .water-title.invisible-in-small-screen {
    display: none;
  }
}

@media (max-width: 778px) {
  .water-list-element .icon {
    font-size: 24px;
  }
  .water-list-element h5 {
    font-size: 16px;
  }
  .water-list-element {
    gap: 10px;
    padding: 1vh;
    padding-inline: 1.2vh;

    font-size: 14px;
  }
  .water-title.invisible-in-big-screen {
    position: sticky;
    top: 6.3vh;
    height: 8vh;
    padding-block: 2vh;
    z-index: 4;
    background-color: var(--background-dark);
  }
}
