.commonList {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  height: 100%;
}
.commonList-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.commonList-element:hover {
  background-color: var(--background-black);
}

.commonList-element input {
  outline: none;
  border: none;
  background-color: transparent;
  text-align: right;
  color: white;
}

.commonList-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 14px;
}
.commonList-title > div {
  text-align: right;
}
.commonList h3 {
  width: 100%;
  padding-left: 16px;
  text-align: left;
}
@media (max-width: 788px) {
  .commonList-element-add input {
    width: 10vh;
  }
  .commonList {
    padding: 10px;
  }
}
