.showRecipeTitle {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: baseline;
}
.showRecipeTitle h2 {
  margin: 0;
  padding: 0;
}
.showRecipeTitle-image {
  width: 110px;
  height: 110px;
  overflow: hidden;
  border-radius: 50%;
}

.showRecipeTitle-image img {
  width: 100%;
  object-fit: contain;
}
@media (max-width: 1024px) {
  .showRecipeTitle h2 {
    margin: 0;
    padding: 0;
  }
  .showRecipeTitle h3 {
    margin: 0;
    padding: 0;
    padding-left: 4vh;
  }
}
