.boil {
  background-color: var(--background-dark);
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.boil h1 {
  text-align: center;
  margin-block: 1vh;
}
.boil-overflow-scroll {
  width: 80%;
  margin-left: auto;
  margin-right: 0px;

  height: 78.4vh;
  padding-bottom: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.boil-top-section {
  display: flex;
  height: 28vh;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 0vh;
  overflow: hidden;
}

.boil-top-section-right {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  flex-grow: 1;
  gap: 50px;
}
.boil-top-section-left {
  box-sizing: border-box;

  flex-grow: 2;
}

.boil-main-section {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid var(--main-secondary-opacue);
}
.boil-main-section-process {
  width: 50%;
  padding: 36px;
}
.boil-main-section-hops {
  padding: 36px;

  width: 50%;
  border-right: 3px solid var(--main-secondary-opacue);
}

.boil-bottom-section {
  width: 80%;
  margin-left: auto;
  margin-right: 0px;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  padding-inline: 46px;
}
.boil-bottom-section-button {
  height: 6vh;
  text-align: center;
  font-weight: 700;
  border-radius: 4px;
  overflow: hidden;
  padding: 10px;

  cursor: pointer;
  border-radius: 4px;
  background-color: var(--main-secondary);
  z-index: 3;
}

.boil-bottom-section-button:hover {
  box-shadow: 0px 0px 10px var(--main-secondary);
}

.boil-overflow-scroll::-webkit-scrollbar {
  width: 10px;
}

.boil-overflow-scroll::-webkit-scrollbar-track {
  background-color: var(--background-black);
}

.boil-overflow-scroll::-webkit-scrollbar-thumb {
  background-color: var(--main-secondary);
  border-radius: 5px;
  cursor: grab;
}

.boil-overflow-scroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-secondary);
}

.boil-top-section-right-container1 {
  width: 46vh;
  height: 25vh;
}
.boil-bottom-section.visible-in-small-screen {
  display: none;
}
.boil-bottom-section.visible-in-big-screen {
  display: flex;
}
.boil-top-section-right-container {
  width: 50vh;
  height: 25vh;
  padding-right: 5vh;
}
.navbar-visible-in-big-screen {
  display: block;
}
.navbar-visible-in-small-screen {
  display: none;
}

@media (min-width: 1400px) {
  .boil-main-section-hops {
    padding-inline: 2vh;
    padding-left: 0vh;
  }
  .boil-main-section-process {
    padding-inline: 2vh;
    padding-left: 0vh;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1400px) {
  .boil-top-section-right-container1 {
    width: 38vh;
    height: 25vh;
  }
  .boil-top-section-right-container {
    width: 32vh;
    height: 25vh;
    padding-right: 5vh;
  }
  .boil-main-section-hops {
    padding: 6px;
    padding-left: 0px;

    width: 50%;
    border-right: 3px solid var(--main-secondary-opacue);
  }
  .boil-main-section-process {
    width: 50%;
    padding: 6px;
    padding-right: 6px;
  }
}

@media (max-width: 1190px) {
  .boil-top-section-right-container1 {
    width: 32vh;
    height: 25vh;
  }
  .boil-top-section-right-container {
    width: 30vh;
    height: 25vh;
    padding-right: 5vh;
  }
  .navbar-visible-in-big-screen {
    display: block;
  }
  .navbar-visible-in-small-screen {
    display: none;
  }
}
@media (max-width: 1024px) {
  .boil-overflow-scroll {
    width: 100%;
  }
  .boil-top-section {
    flex-direction: column;
    height: fit-content;
    padding-top: 4vh;
    padding-inline: 7vh;
  }
  .boil-top-section-right {
    width: 100%;
  }
  .boil-main-section {
    flex-direction: column;
  }
  .boil-top-section-right-container1 {
    width: 50vh;
    height: 25vh;
    padding-left: 0vh;
  }
  .boil-top-section-right-container {
    width: 45vh;
    height: 25vh;
    padding-right: 0vh;
  }
  .navbar-visible-in-big-screen {
    display: none;
  }
  .navbar-visible-in-small-screen {
    display: block;
    z-index: 3;
    position: sticky;
    top: 0;
  }
  .boil-overflow-scroll {
    height: fit-content;
    padding-bottom: 10px;
    overflow-y: hidden;
  }

  .boil-main-section-process {
    border-top: 3px solid var(--main-secondary-opacue);
    border-left: 0px solid transparent;
  }
  .boil-bottom-section.visible-in-small-screen {
    width: 100%;
    display: flex;
    position: sticky;
    bottom: 0;
    padding: 7.4vh;
    padding-block: 2vh;
    background-color: var(--background-dark);
  }
  .boil-bottom-section.visible-in-big-screen {
    width: 100%;
    display: none;
  }
  .boil {
    background-color: var(--background-dark);
    max-width: 100%;
    height: fit-content;
    overflow: hidden;
  }
  .boil-main-section {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .boil-main-section-hops {
    width: 100%;
    border-right: 0px solid var(--main-secondary-opacue);
  }

  .boil-main-section-process {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .boil-top-section {
    flex-direction: column;
    height: fit-content;
    padding-top: 4vh;
    padding-left: 0vh;
    padding-inline: 2vh;
  }
  .boil-top-section-right-container1 {
    width: 100%;
    height: 25vh;
    padding-left: 0vh;
  }
  .boil-top-section-right-container {
    width: 100%;
    height: 25vh;
    padding-right: 0vh;
  }

  .boil-top-section-right {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
  .boil-bottom-section.visible-in-small-screen {
    display: flex;
    position: sticky;
    bottom: 0;
    padding: 3vh;
    padding-block: 2vh;
    background-color: var(--background-dark);
  }
  .boil-main-section-hops h1 {
    padding: 0;
    margin-top: 4vh;

    margin-left: 14px;
  }
  .boil-top-section-right {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
  .boil-main-section-process h1 {
    padding: 0;
    margin-top: 4vh;
    margin-left: 14px;
  }
  .boil-main-section-hops {
    padding: 0px;
    height: fit-content;

    width: 100%;
    border-right: 0px solid var(--main-secondary-opacue);
  }
  .boil-main-section-process {
    width: 100%;
    padding: 0px;
  }
  .boil-main-section {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 514px) {
  .boil-top-section {
    flex-direction: column;
    height: fit-content;
    padding-top: 1vh;
    padding-left: 0vh;
    padding-inline: 1vh;
  }
  .boil-top-section-right-container1 {
    width: 100%;
    height: 25vh;
    padding-left: 0vh;
  }
  .boil-top-section-right-container {
    width: 100%;
    height: 25vh;
    padding-right: 0vh;
  }
  .boil-bottom-section.visible-in-small-screen {
    display: flex;
    position: sticky;
    bottom: 0;
    padding: 3vh;
    padding-block: 2vh;
    background-color: var(--background-dark);
  }
  .boil-top-section-right {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
  .boil-main-section-hops h1 {
    padding: 0;
    margin-top: 4vh;

    margin-left: 14px;
  }
  .boil-main-section-process h1 {
    padding: 0;
    margin-top: 4vh;
    margin-left: 14px;
  }
  .boil-main-section-hops {
    padding: 0px;
    height: fit-content;
    width: 100%;
    border-right: 0px solid var(--main-secondary-opacue);
  }
  .boil-main-section-process {
    width: 100%;
    padding: 0px;
  }
  .boil-main-section {
    display: flex;
    flex-direction: column;
  }
  .boil-top-section {
    flex-direction: column;
    height: fit-content;
    padding-top: 1vh;
    padding-left: 0vh;
    padding-inline: 0.6vh;
  }
}
