.malts {
  background-color: var(--background-dark);
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .malts {
    height: fit-content;
    padding-bottom: 10vh;
  }
  .malts-navbar-position-fixed {
    width: 100%;
    position: fixed;
    top: 0;
  }
  .malts-navbar-position-fixed {
    z-index: 9;
  }
}
