.common-ingredients-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.common-ingredients-container-inside {
  border: 2px solid var(--main-secondary);
  background-color: var(--background-dark);
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 80vh;
  overflow: hidden;
}

.common-ingredients-container-inside-section-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-inline: 15px;
  align-items: center;
  box-shadow: 0px 0px 10px var(--background-black);
}
.common-ingredients-container-inside-section-middle {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex-grow: 1;
  overflow-y: scroll;
  padding-bottom: 20px;
}
.common-ingredients-container-inside-search {
  width: 100%;
  background-color: var(--background-black);

  display: flex;
  align-items: center;
  gap: 12px;
  padding: 4px;
  padding-inline: 10px;
}

.common-ingredients-container-inside-search:hover {
  box-shadow: 0px 0px 10px var(--main-secondary);
}
.common-ingredients-container-inside-search-input {
  flex-grow: 1;
}
.common-ingredients-container-inside-search-input input {
  color: white;
  border: 0px;
  outline: none;
  background-color: transparent;
  width: 100%;
}
.common-ingredients-container-inside-section-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-inline: 15px;
  box-shadow: 0px 0px 5px var(--background-black);
}
.common-ingredients-container-inside-title {
  flex-grow: 1;
  align-items: center;
  text-align: left;
}

.common-ingredients-container-inside-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.common-ingredients-container-inside-section-bottom-add {
  text-align: right;
  align-items: center;
  cursor: pointer;
}

.common-ingredients-container-inside-section-middle::-webkit-scrollbar {
  width: 10px;
}

.malts-container-inside-section-middle::-webkit-scrollbar-track {
  background-color: var(--background-black);
}

.malts-container-inside-section-middle::-webkit-scrollbar-thumb {
  background-color: var(--main-secondary);
  border-radius: 5px;
  cursor: grab;
}

.malts-container-inside-section-middle::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-secondary);
}
