.showRecipeSteps {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: left;
  position: relative;
  height: fit-content;
  justify-content: flex-start;
  gap: 0;
}

.showRecipeSteps h2 {
  margin-inline: 0;
}
.showRecipeSteps h4 {
  margin-top: 20px;
  margin-bottom: 6px;
  margin-inline: 0;
}
.showRecipeSteps-single-step {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0;
  margin: 0;
}
.showRecipeSteps-single-step-cell {
  width: 20%;
  overflow: hidden;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 7vh;
  padding: 1vh;
  border-top: 1px solid var(--main-secondary-opacue);
  border-left: 1px solid var(--main-secondary-opacue);
}
.showRecipeSteps-single-step-cell.description {
  width: 40%;
  overflow: hidden;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 7vh;
  padding: 1vh;
  border-top: 1px solid var(--main-secondary-opacue);
  border-left: 1px solid var(--main-secondary-opacue);
  border-right: 1px solid var(--main-secondary-opacue);
}
.showRecipeSteps-single-step.last {
  border-bottom: 1px solid var(--main-secondary-opacue);
}

@media (max-width: 768px) {
  .showRecipeSteps h2 {
    width: 100%;
    margin-top: 2vh;
    margin-inline: auto;
    text-align: center;
    padding: 0;
  }
  .showRecipeSteps h4 {
    margin: 0;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 0;
    padding-left: 4vh;
  }
}
