.add-products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
  padding: 50px;
  margin-top: 0px;
}

.add-products input {
  border: none;
  color: white;
  background-color: transparent;
  outline: none;
}

.add-products.below input {
  width: 80%;
}

.add-products {
  text-align: left;
  flex-grow: 1;
}

.add-products.below {
  margin-block: 0;
}
