.commonBrewStep {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  padding-bottom: 30px;
  position: relative;
  height: 100%;
}
.commonBrewStep-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.commonBrewStep-others-single {
  display: flex;
  width: 100%;
}
.commonBrewStep-others-single-icon {
  color: var(--main-secondary);
  font-size: 25px;
  cursor: pointer;
}
.commonBrewStep-others-single-icon-add {
  text-align: left;
  width: 100%;
  margin-top: 10px;
}

.commonBrewStep-others-single-icon:hover {
  scale: 1.2;
}

.commonBrewStep-others-single input {
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  overflow: hidden;
  width: 100%;
  background-color: var(--background-black);
  border-radius: 4px;
}

.commonBrewStep-others-single textarea {
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: var(--background-black);
  border-radius: 4px;
}

.commonBrewStep-others-single {
  text-align: left;
  gap: 10px;
}

.commonBrewStep-others-single-grow1 {
  text-align: left;
  flex-grow: 1;
}
.commonBrewStep-others-single-grow1.flex-grow3 {
  width: 90%;
  height: 1em;
  margin-top: 10px;
  margin-inline: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  word-wrap: break-word;
}
.commonBrewStep-others-single-grow1-first {
  text-align: left;
  width: 30%;
}
.commonBrewStep-others-nonebig {
  display: flex;
}
@media (min-width: 788px) {
  .commonBrewStep-others-nonebig {
    display: none;
  }
}
@media (max-width: 768px) {
  .commonBrewStep-others-single {
    position: relative;
    padding-bottom: 4vh;
  }
  .commonBrewStep-others-single-grow1 .none {
    display: none;
  }
  .commonBrewStep-others-nonebig {
    position: absolute;
    top: 4vh;
    left: 4.6vh;
    height: 6vh;
    width: 80%;
    overflow: hidden;
    font-size: 14px;
  }
  .commonBrewStep {
    padding-bottom: 10vh;
  }
  textarea {
    width: 28vh !important;
    margin-top: 10px;
  }
}

.commonBrewStep-others-single-grow1.flex-grow3::-webkit-scrollbar {
  width: 10px;
}

.commonBrewStep-others-single-grow1.flex-grow3::-webkit-scrollbar-track {
  background-color: var(--background-black);
}

.commonBrewStep-others-single-grow1.flex-grow3::-webkit-scrollbar-thumb {
  background-color: var(--main-secondary);
  border-radius: 5px;
  cursor: grab;
}

.commonBrewStep-others-single-grow1.flex-grow3::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-secondary);
}

@media (max-width: 468px) {
  .commonBrewStep {
    padding-inline: 8px;
    font-size: 14px;
  }
}
