.bottomBar-list-proceed {
  width: 100%;
  position: sticky;
  bottom: 0;
  height: 12vh;
  padding-left: 70px;
  padding-right: 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-dark);
  z-index: 2;
  /*box-shadow: 0px 0px 10px var(--main-secondary);*/
  margin-left: auto;
}
.bottomBar-list-proceed-button {
  height: 6vh;
  text-align: center;
  font-weight: 700;
  background-color: var(--main-secondary);
  border-radius: 4px;
  overflow: hidden;
  padding: 10px;
  cursor: pointer;
}
.bottomBar-list-proceed-button:hover {
  box-shadow: 0 0 10px var(--main-secondary);
}

@media (max-width: 1024px) {
  .bottomBar-list-proceed {
    width: 100%;
  }
}
@media (max-width: 778px) {
  .bottomBar-list-proceed {
    width: 100%;
    padding: 10px;
    padding-bottom: 12px;
    font-size: 14px;
    position: sticky;
    height: 10vh;
  }
  .bottomBar-list-proceed-button {
    height: 5.8vh;
  }
}
