.showEntireRecipe {
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.showEntireRecipe-top {
  width: 100%;
  height: 42vh;
  display: flex;
  padding: 6vh;
  justify-content: space-between;
}

.showEntireRecipe-top-left {
  width: 30%;
  height: 100%;
}

.showEntireRecipe-top-right {
  width: 70%;
  height: 100%;
}

.showEntireRecipe-middle {
  height: fit-content;
  padding: 6vh;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.showEntireRecipe-bottom {
  width: 100%;
  height: fit-content;
  padding: 5vh;
  padding-bottom: 30vh;
  text-align: left;
}

.showEntireRecipe-middle-left {
  text-align: left;
  width: 35%;
}
.showEntireRecipe-middle-right {
  width: 55%;
}
