.showRecipeData {
  width: 100%;
  height: 30vh;
  display: flex;
  padding-top: 14px;
  gap: 100px;
  justify-content: space-between;
}
.showRecipeData-overview.sensibleData {
  width: 40%;
}
.showRecipeData-overview.water {
  width: 60%;
  min-height: 0;
}
.showRecipeData-overview {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.showRecipeData-overview-inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .showRecipeData {
    height: fit-content;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
  }
  .showRecipeData-overview.sensibleData {
    width: 100%;
  }
  .showRecipeData-overview.water {
    min-height: 0;
    width: 100%;
    height: fit-content;
  }
}
